@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body{
  font-family: 'Montserrat', sans-serif;
  color: #646464;
}

a{
  text-decoration: none;
  color: #646464;
}

.navbar-item, .navbar-link, .navbar-link{
  color: #646464 !important;
}

h3{
 font-weight: bold;
 font-size: 1.8em; 
}

h4{
  font-weight: bold;
  font-size: 1.2em;
}

/* .input:active, .input:focus{
  border-color: grey;
  box-shadow: unset;
} */

.headingText h1{
  font-family: 'Lora', serif;
  font-size: 3em;
}

.line{
  display: block;
  position: relative;
  right: 10px;
  top: -25px;
  width: 60%;
  height: 5px;
  background-color: #FF7139;
}

.input:focus{
  border-color: rgb(172, 172, 172);
  box-shadow: 0 0 0 0.125em rgb(128 128 128 / 25%);
}

.input{
  border-color: rgb(172, 172, 172);
}

.control{
  width: 300px;
  float: right;
}



