@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@keyframes circle {
  0%{
    transform: scale(1);
  }
  
  50%{
    transform: scale(1.5);
  }
}

*{
  font-family: 'Montserrat', sans-serif;
}

.container{
  height: 100%;
  padding: 1em;
}

/* Navbar */
@media screen and (max-width: 1023px){
  .navbar a {
    color: hsl(0, 0%, 30%) !important;
  }

  .navbar span{
    color: white !important;
  }

  .navbar.scrolled span{
    color: hsl(0, 0%, 30%) !important;
  }
}

.navbar a{
  color: white;
}

.navbar a:hover{
  color: rgb(216, 216, 216);
}

.navbar-link:not(.is-arrowless)::after{
  border-color: white;
}

.navbar-item ion-icon{
  font-size: 1.3rem;
}

.navbar, .navbar-dropdown{
  background-color: rgba(0, 0, 0, 0);
}

.navbar.scrolled, .navbar.scrolled .navbar-dropdown{
  transition: background-color 400ms linear;
}

.navbar.scrolled .navbar-dropdown{
  background-color: white;
}

.navbar.scrolled a{
  color: hsl(0, 0%, 30%) !important;
}

.navbar.scrolled a:hover, .navbar.scrolled .navbar-dropdown a:hover{
  color: hsl(0, 0%, 20%);
}

.navbar-dropdown a:hover{
  color: rgb(216, 216, 216) !important;
}


.navbar.scrolled{
  background-color: white;
}

.navbar.scrolled .navbar-link:not(.is-arrowless)::after{
  border-color: hsl(0, 0%, 30%);
}

.navbar.scrolled .dark{
  display: block !important;
}

.navbar.scrolled .light{
  display: none !important;
}

.input:focus{
  border-color: rgb(172, 172, 172);
  box-shadow: 0 0 0 0.125em rgb(128 128 128 / 25%);
}
/* End Navbar */

/* Header */
.header{
  background-color: grey;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)
  ), url(../assets/img/header5.jpg);
  height: 70vh;
  background-size: cover;
  background-position: center;
}

.wrapper-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}

.header h1{
  color: white;
}

.header .field{
  align-self: flex-start !important;
}

.header .control:nth-child(1){
  width: 100%;
}

.wrapper-search-bar{
  align-self: flex-start;
}
/* End Header */

/* Top Category */
.top-category{
  padding-top: 50px;
  padding-bottom: 50px;
}

.top-category h2{
  color: hsl(0, 0%, 30%) !important;
}

.top-category img{
  width: 70%;
  transition: all .5s;
  z-index: 3;
}

.top-category .column{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 94%);
  margin: 10px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.top-category .column:hover{
  background-color: #ffab89;
}

.top-category .column:hover img{
  transform: scale(1.1);
}

.column span{
  display: block;
  position: absolute;
  width: 10vmax;
  height: 10vmax;
  background-color: #ff9970;
  border-radius: 100%;
  bottom: -5vmax;
  left: -5vmax;
  transform: translate(-5vmax, 5vmax);
  transition: all .3s;
}

.top-category .column:hover span{
  transform: translateY(0);
}
/* End Top Category */

/* Best Choice */
.best-choice{
  background-color: hsl(0, 0%, 94%);
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
}

.best-choice h2, .best-choice p{
  color: hsl(0, 0%, 30%);
}

.slider-best-choice{
  margin: 0 20px;
}

.card{ 
  height: 100%;
  transition: all .2s;
}

.wrapper{
  padding: 20px;
}

.best-choice span{
  width: 12vmax;
  height: 12vmax;
  background-color: #ff9970;
  display: block;
  position: absolute;
  bottom: -6vmax;
  left: -6vmax;
  border-radius: 100%;
  animation: circle 2s infinite;
}

.card:hover{
  transform: scale(1.05);
}
/* End Best Choice */

/* Highlight */
.highlight-kursi a, .highlight-laci a{
  background-color: #ff9970;
  color: white;
  font-weight: 500;
  border: none;
  transition: all .3s;
}

.button:hover{
  color: white !important;
  transform: scale(1.01);
  box-shadow: 3px 3px 10px 0px rgba(141,141,141,0.75);
}

.highlight-kursi h2, .highlight-kursi p, .highlight-laci h2, .highlight-laci p{
    color: hsl(0, 0%, 30%);
}

.highlight-laci{
  padding-top: 20px;
  padding-bottom: 50px;
}

.highlight-kursi img, .highlight-laci img{
  transition: all .3s;
}

.highlight-kursi img:hover, .highlight-laci img:hover{
  transform: scale(1.05);
}
/* End Highlight */

/* Inspiration */
.room-inspiration{
  background-color: hsl(0, 0%, 94%);
  padding-top: 30px;
  padding-bottom: 50px;
}

.room-inspiration img{
  border-radius: 5px;
  transition: all .3s;
}

.room-inspiration img:hover{
  box-shadow: 0 0 0 0.125em rgb(128 128 128 / 25%);
  transform: scale(1.01);
}

.room-inspiration h2{
  color: hsl(0, 0%, 30%);
}
/* End Inspiration */

/* Location */
.location{
  padding-top: 30px;
  padding-bottom: 50px;
}

.location h2{
  color: hsl(0, 0%, 30%);
}
/* End Location */

/* Footer */
.footer p, .footer strong, .footer a{
  color: hsl(0, 0%, 30%);
}

.footer{
  background-color: hsl(0, 0%, 94%);
  padding: 3rem !important;
}

.footer a{
  display: block;
}
/* End Footer */