html{
    background-color: #313131;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    display: flex;
    flex: 1;
    max-width: 600px;
    background-color: rgb(250, 250, 250);
    margin: 20px;
}

.card-content{
    display: flex;
    flex: 1;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input:focus{
    border-color: rgb(172, 172, 172);
    box-shadow: 0 0 0 0.125em rgb(128 128 128 / 25%);
}

body{
    display: flex;
    height: 100vh;
}
