.logo img{
    width: 320px;
}

.logo{
    margin: auto;
}

.registrasi a{
    color: #707070;
    text-decoration: none;
}

.button.is-light{
    background-color:#dddddd;
}

.container{
    padding: 20px;
}